* {
  padding: 0;
  margin: 0;
  --background-color: black;
  --text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif
}

#hero {
  display: grid;
  justify-items: center;
  padding: 2.5%;
}

.heading {
  color: var(--background-color);
  background-image: linear-gradient(to right, rgb(255, 108, 108), rgb(255, 196, 87));
  font-size: 2rem;
}

.grid {
  display: grid;
  justify-content: center;
  padding: 2.5%;
}

.box {
  width: 20px;
  height: 10px;
  padding: 10px;
  border: var(--text-color) 2px solid;
  background-color: var(--background-color);
}

.clicked {
  background-color: var(--text-color);
}

#grid {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  margin-top: 10px;
  width: 50px;
  margin-right: 10px;
}

#text {
  background-color: var(--background-color);
  margin-top: 10px;
  border: var(--text-color) 2px solid;
  padding: 5px;
  height: 200px;
  max-width: 400px;
  min-width: 400px;
  width: fit-content;
  overflow-y: scroll;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

#footer {
    display: flex;
    justify-content: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-top: 2px solid;
    border-image:  linear-gradient(to right, rgb(255, 108, 108), rgb(255, 196, 87)) 1;
}

.footer-link {
    margin: 2.5%;
}